body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
}


.nav-link {
  color: #212529 !important;
}

.nav-link.active {
  background-color: #343a40 !important;
  color: white !important;
}